@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes bounce {
    0%,
    80%,
    100% {
        transform: translateY(0);
        opacity: 0.3;
    }
    40% {
        transform: translateY(-8px);
        opacity: 1;
    }
}

.goal-card {
  animation: fadeInUp 0.3s ease-out;
}

.goal-card.removing {
  animation: fadeOutDown 0.3s ease-out;
}

@keyframes waterfall {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.waterfall-background {
  background: linear-gradient(
    180deg,
    #6a0dad,
    #d7c9f5,
    #f9f9f9
  ); /* Lila Farbtöne */
  background-size: 100% 200%; /* Verdopple die Höhe für die Animation */
  animation: waterfall 5s linear infinite; /* Animationseinstellungen */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dynamic-background {
  background: linear-gradient(
    270deg,
    #5113d6,
    #5304c2,
    #6c3483,
    #9409d0
  ); /* Verschiedene lila Farbtöne */
  background-size: 400% 400%; /* Größere Hintergrundgröße für die Animation */
  animation: gradient-animation 10s ease infinite; /* 10 Sekunden lange Animation */
}

.hover-trigger {
  display: inline-block;
}

.hover-letter {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hover-trigger:hover .hover-letter {
  animation: bounce 0.5s ease forwards;
  display: inline-block;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .text-4xl {
    font-size: 1.5rem;
  }
  .px-6 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.footer {
  background-color: white;
  padding: 3px 0; /* Minimales vertikales Padding für weniger Höhe */
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 70%; /* Etwas schmaler, um Platz zu sparen */
  align-items: center;
  flex-wrap: wrap; /* Hilft, den Platz optimal zu nutzen */
}

.footer-italic-text {
  font-style: italic; /* Kursivschrift */
  font-size: 16px; /* Angepasste Schriftgröße */
  color: #800080; /* Lila Farbe */
  margin-right: 10px; /* Geringer Abstand */
}

.footer-links {
  display: flex;
  gap: 15px; /* Abstände zwischen den Links */
}

.simple-link {
  color: #800080; /* Lila Farbe für die Links */
  font-size: 14px; /* Angepasste Schriftgröße */
  text-decoration: none;
  transition: color 0.3s;
}

.simple-link:hover {
  color: #5a005a; /* Dunkleres Lila beim Hover */
}

.link-icon {
  display: flex;
  align-items: center;
}

.instagram-icon {
  width: 30px; /* Größere Icon-Größe */
  height: 30px;
  transition: opacity 0.3s;
}

.instagram-icon:hover {
  opacity: 0.7; /* Leichte Transparenz beim Hover */
}

.footer-copyright {
  margin-top: 2px; /* Weniger Platz über dem Copyright */
  font-size: 10px; /* Kleinere Schriftgröße */
  color: #666;
  text-align: center;
}

.impressum-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  color: #800080;
}

p {
  line-height: 1.6;
}

.kontakt-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  color: #800080;
}

p,
label {
  line-height: 1.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #5a005a;
}
